.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-top: 22px;
}

.pagination a {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: steelblue;
  text-transform: capitalize;
  color: #fff;
}
.pagination li.selected a {
  background-color: blue;
}
